 #topMenu {            	
 						position : fixed;
 						top : 0%;			
                        height: 5%; 
                        width: 100%;
                        background-color: #2d2d2d;  
                       
                }
                #topMenu ul li {                      
                        list-style: none;          
                        color: white;               
                       	float: left;                
                        line-height: 40px;          
                        vertical-align: middle;    
                        text-align: center;        
                }
                #topMenu .menuLink {                               
                        text-decoration:none;                    
                        color: white;                             
                        display: block;                            
                        width: 18vw;                             
                        font-size: 12px;                           
                        font-weight: bold;                         
                        font-family: "Trebuchet MS", Dotum, Arial; 
                }
                #topMenu .menuLink:hover {            
                        color: red;                   
                        background-color: #4d4d4d;    
                }

body{ width: 100%; height: 100%; margin: 0; padding: 0; }

.main_contents_text{text-align: center;}

.main_contents{ width:100%; height : 100%; display: flex; flex-direction: column;  justify-content: space-between; overflow: auto;}

.main_contents_a{padding-top:300px; margin: 15px 15px 15px 0px; width: 100%; height: 10%; color : black; border: 2px solid black; }



